name : CD Pipeline

on:
    push: 
        branches: [ main ]
        tags:
            - 'v*.*.*'
    workflow_dispatch:
env :
  AWS_REGION: us-east-1
  EKS_CLUSTER_NAME: e2ecicd-cluster
  ECR_REPOSITORY: calculator-app
  EKS_ROLE_ARN: ${{ secrets.EKS_ROLE_ARN }} # IAM role ARN for EKS
  SUBNET_IDS: ${{ secrets.SUBNET_IDS }}      # comma-separated subnet IDs
  SECURITY_GROUP_IDS: ${{ secrets.SECURITY_GROUP_IDS }} # comma-separated SG IDs
jobs:
  build-and-push:
      runs-on : ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.AWS_REGION }}
          
        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v2
        
        - name: Build and push  image to Amazon ECR
          id: build-and-push
          env :
            ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
            ECR_REPOSITORY: ${{ env.ECR_REPOSITORY }}
            IMAGE_TAG: ${{ github.sha }}
          run : |
             cd app
             docker build -t "$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" .
             docker build -t "$ECR_REGISTRY/$ECR_REPOSITORY:latest" .

             docker push "$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
             docker push "$ECR_REGISTRY/$ECR_REPOSITORY:latest"
            
             echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> "$GITHUB_OUTPUT"
 

        - name: Update deployment image
          run : |
           cd kustomize/base
           # tag 
           sed -i "s|image: .*|image: ${{ steps.build-and-push.outputs.image }}|g"  deploy.yaml
        - name: Commit update deployment
          run : |
            git config --global user.name "github-actions"
            git config --global user.email "github-actions@users.noreply.github.com"
            git add kustomize/base/deploy.yaml
            git commit -m "Update deployment image to ${{ github.sha }}" || exit 0
  deploy-to-eks :
     needs : build-and-push
     runs-on : ubuntu-latest
     steps: 
       - name : Checkout code
         uses : actions/checkout@v4

       - name: Configure AWS credentials
         uses: aws-actions/configure-aws-credentials@v4
         with : 
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

       - name: Ensure EKS cluster exists
         run: |
        
           if ! aws eks describe-cluster --name $EKS_CLUSTER_NAME --region $AWS_REGION &> /dev/null; then
           echo "Cluster $EKS_CLUSTER_NAME not found. Creating..."

           aws eks create-cluster \
           --name $EKS_CLUSTER_NAME \
           --region $AWS_REGION \
           --kubernetes-version 1.29 \
           --role-arn $EKS_ROLE_ARN \
           --resources-vpc-config subnetIds=$SUBNET_IDS,securityGroupIds=$SECURITY_GROUP_IDS

           echo "Waiting for cluster to become ACTIVE..."
           aws eks wait cluster-active --name $EKS_CLUSTER_NAME --region $AWS_REGION

           echo "Cluster $EKS_CLUSTER_NAME is now ACTIVE."
           else
            echo "Cluster $EKS_CLUSTER_NAME already exists."
           fi


       - name: Update kubeconfig
         run : |
          aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.EKS_CLUSTER_NAME }}
          
       - name: Deploy to EKS
         run : |
          kubectl apply -k kustomize/base

       - name : verify deployment
         run : |
          kubectl rollout status deployment/calculator-app-deployment -n default
          kubectl get pods -l app=web -n default

       - name: Run smoke tests
         run: |
          kubectl get service web-service